body {
  font-family: sans-serif;
}

h1, h2, h3, h4 {
  border-bottom: 7px solid $blue;
  color: $slate;
  display: inline-block;
}

table {
  border: 1px solid $blue;
  border-radius: 2px;
  table-layout: fixed;
}

thead {
  text-align: left;
}

td {
  border: 1px solid $light-blue;
  border-radius: 2px;
  padding: 5px 5px;
  width: 100px;
}

.category {
  text-align: center;
}

.change {
  font-size: 12px;
  margin-left: 10px;
  &:before {
    font-size: 8px;
  }
  &.pos {
    color: green;
    &:before {
      content: "▲";
    }
  }
  &.neg {
    color: red;
    &:before {
      content: "▼";
    }
  }
}
