body {
  font-family: sans-serif;
  text-align: center;
}

h1, h2, h3, h4 {
  color: $slate;
  display: inline-block;
  position: relative;
  &:after {
    content: "";
    display: inline-block;
    height: 0.2em;
    position: absolute;
      left: 0px;
      top: 1em;
    width: 100%;
  }
}

h1:after {
  background: $blue;
}

h2:after {
  // background: $olive;
}
