.question {
  cursor: pointer;
  display: inline-block;
  position: relative;
  margin-right: 5px;
}

.expand {
  position:absolute;
  left: -25px;
  top: 17px;
  &:before, &:after {
    @include transition();
    background: $olive;
    border-radius: 1px;
    content: "";
    display: inline-block;
    position: absolute;
  }
  &:before {
    height: 14px;
    left: 6px;
    top: 2px;
    width: 2px;
  }
  &:after {
    height: 2px;
    top: 8px;
    width: 15px;
  }
  &.open:before, &.open:after {
    @include rotate(45deg);
  }
}

.ion-link {
  font-size: 18px;
}

.category {
  text-align: center;
}

.percent {
  margin: 10px 5px;
}

.change {
  font-size: 12px;
  &:before {
    font-size: 8px;
  }
  &.pos {
    color: darken($olive, 25%);
    &:before {
      content: "▲";
    }
  }
  &.neg {
    color: $red;
    &:before {
      content: "▼";
    }
  }
}

.not-asked {
  opacity: 0.2;
}

.bar-chart {
  background: $olive;
  border-radius: 0px 0px 2px 2px;
  opacity: 0.2;
  position: absolute;
    bottom: 0px;
  width: 100%;
}
