$olive: #A3B481;
$yellow: #D1CD96;
$red: #92140C;

$light-blue: #CDE6F5;
$blue: #8DA7BE;
$slate: #454A52;
$black: darken($slate, 20%);

@mixin rotate($deg) {
  -webkit-transform: rotate($deg);
  -o-transform: rotate($deg);
  transform: rotate($deg);
}
