<h2 id="title">Ruby Survey results coming soon!</h2>

{{outlet}}

<div class="question">
  What version of Ruby do you currently use?
</div>
<ul class="responses">
  <li class="response">
    1.8
  </li>
  <li class="response">
    1.9
  </li>
  <li class="response">
    2.0
  </li>
</ul>
