<h2 id="title">Ruby Survey results coming soon!</h2>

{{outlet}}


<div class="question">
  What version of Ruby do you currently use?
</div>
<table>
  <thead>
    <tr>
      <th></th>
      <th>2008</th>
      <th>2009</th>
      <th>2010</th>
      <th>2011</th>
      <th>2012</th>
      <th>2014</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="category">1.8</td>
      <td>10%</td>
      <td>10%<span class="change neg">2.3%</span></td>
      <td>10%<span class="change pos">1.2%</span></td>
      <td>10%<span class="change neg">3.4%</span></td>
      <td>10%<span class="change neg">2.4%</span></td>
      <td>10%<span class="change pos">9.2%</span></td>
    </tr>
    <tr>
      <td class="category">1.8</td>
      <td>10%</td>
      <td>10%</td>
      <td>10%</td>
      <td>10%</td>
      <td>10%</td>
      <td>10%</td>
    </tr>
    <tr>
      <td class="category">1.8</td>
      <td>10%</td>
      <td>10%</td>
      <td>10%</td>
      <td>10%</td>
      <td>10%</td>
      <td>10%</td>
    </tr>
  </tbody>
</table>
