<h1> {{model.name}} Survey Results </h1>
<p>
  These are the 2015 results from what was originally called
  "Hampton's Ruby Survey" in 2008. Figures are percentage of respondants,
  and that value is reflected in the background to each cell. The smaller
  figures are year-over-year change. The first questions listed are the
  oldest and have been asked year over year.
</p>

<p><strong>
  If you want to sign up to get an email when we do our next survey,
  sign up to our mailing list!
  <!-- Begin MailChimp Signup Form -->
  <div id="mc_embed_signup">
    <form action="//catlinsoftware.us3.list-manage.com/subscribe/post?u=f1d50be4cecfc8844afa5879b&amp;id=c16d1b497a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div id="mc_embed_signup_scroll">
        <div class="mc-field-group">
  	       <label for="mce-EMAIL">Email Address:</label>
  	       <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
        </div>
        <div id="mce-responses" class="clear">
  		     <div class="response" id="mce-error-response" style="display:none"></div>
  		     <div class="response" id="mce-success-response" style="display:none"></div>
  	    </div>
        <div style="position: absolute; left: -5000px;"><input type="text" name="b_f1d50be4cecfc8844afa5879b_c16d1b497a" tabindex="-1" value=""></div>
        <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
      </div>
    </form>
  </div>
</strong></p>

<p>
  Made with Ember, Rails, and love by the
  <a href="http://www.teamrarebit.com">rarebit</a> team,
  <a href="http://twitter.com/hcatlin" target="_blank">Hampton</a>
  and <a href="http://twitter.com/malrase" target="_blank">Michael</a>.
  This is an <a href="http://github.com/teamrarebit" target="_blank">open source project.</a>
</p>

{{#each year in model.years}}
  <h2>Questions first asked in: {{year.year}}</h2>
  {{#each question in year.questions}}
    {{survey-question question=question}}
  {{/each}}
{{/each}}
